{% extends 'bootstrap.html' %}

{% load url from future %}

{% load bootstrap3 %}

{% block bootstrap3_content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Mozio test</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'home' %}">home</a></li>
            {% url 'service_area' as service_area_url %}
            <li {% if request.path = service_area_url %}class="active"{% endif %}>
                <a href="{{ service_area_url }}">service areas</a>
            </li>
            {% url 'contains_location' as contains_location_url %}
            <li {% if request.path = contains_location_url %}class="active"{% endif %}>
                <a href="{{ contains_location_url }}">contains location</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <br/><br/>
    <div class="container">
        <div class="">
            <h1>{% block title %}(no title){% endblock %}</h1>

            {% bootstrap_messages %}

            {% block content %}(no content){% endblock %}
        </div>
    </div>

{% endblock %}
