{% extends "base.html" %}
{% load i18n %}

{% block title %}Service Area{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-md-8">
        <p>
          {% trans "Select the polygon figure on the map toolbar and click anywhere on it to start drawing a new service area. Click on the starting point to end the area." %}
        </p>
        <p>
          {% trans "You can move the areas around or edit them by clicking on them and moving its vertices. Click on the map to deselect the areas." %}
        </p>
      </div>
      <div class="col-md-4"></div>
      <div id="map" class="col-md-8"></div>
      <div id="toolbar" class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <table id="" class="table table-striped">
              <thead>
                <tr>
                  <th>{% trans "Latitude" %}</th>
                  <th>{% trans "Longitude" %}</th>
                </tr>
              </thead>
              <tbody id="info">
                <tr>
                  <td colspan="2">
                    {% trans "Draw a polygon and its vertices' coordinates will show up here" %}
                  </td>
                </tr>
              </tbody>
            </table>
            <div id="info">
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6">
              <button class="btn btn-primary btn-block" disabled="disabled" id="save-button">{% trans "Save service area" %}</button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-danger btn-block" disabled="disabled" id="delete-button">{% trans "Delete service area" %}</button>
            </div>
          </div>
          <div class="col-md-12">
            <h3>
              {% trans "Latest service areas" %}
            </h3>
            <div>
              <ul id="latest-areas" class="list-unstyled"></ul>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block bootstrap3_extra_script %}
<script>
var map;
var selectedShape;
var savedShapes = {};

function clearSelection() {
  if (selectedShape) {
    selectedShape.setEditable(false);
    selectedShape = null;
  }
  // Direct DOM manipulation examples
  document.getElementById('info').innerHTML = "";
  document.getElementById('save-button').setAttribute('disabled', 'disabled');
  document.getElementById('delete-button').setAttribute('disabled', 'disabled');
}

function setSelection(shape) {
  clearSelection();
  selectedShape = shape;
  shape.setEditable(true);
  drawPolygonCoords(shape);
  document.getElementById('save-button').removeAttribute('disabled');
  document.getElementById('delete-button').removeAttribute('disabled');
}

function deleteSelectedShape() {
  if (selectedShape) {
    selectedShape.setMap(null);
  }
}

function getPolygonCoordsList(shape) {
    var len = shape.getPath().getLength();
    var coordArray = new Array();
    for (var i = 0; i < len; i++) {
        coordArray.push(shape.getPath().getAt(i).toUrlValue(5));
    }
    return coordArray;
}

function getPolygonCoords(shape) {
    var len = shape.getPath().getLength();
    var htmlStr = "";
    for (var i = 0; i < len; i++) {
      coords = shape.getPath().getAt(i).toJSON();
      htmlStr += '<tr><td>'+coords.lat+'</td><td>'+coords.lng+'</td></tr>';
    }
    return htmlStr;
}

function drawPolygonCoords(shape) {
  htmlStr = getPolygonCoords(shape);
  document.getElementById('info').innerHTML = htmlStr;

}

function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -34.397, lng: 150.644},
    zoom: 8
  });

  var drawingManager = new google.maps.drawing.DrawingManager({
    drawingMode: null,
    drawingControl: true,
    drawingControlOptions: {
      position: google.maps.ControlPosition.TOP_CENTER,
      drawingModes: [
        google.maps.drawing.OverlayType.POLYGON
      ]
    },
    polygonOptions: {
      draggable: true,
      editable: true,
      zIndex: 1,
      geodesic: true
    }
  });
  google.maps.event.addListener(drawingManager, 'overlaycomplete', function(e) {
    if (e.type != google.maps.drawing.OverlayType.MARKER) {
      // Switch back to non-drawing mode after drawing a shape.
      drawingManager.setDrawingMode(null);
    }
    var newShape = e.overlay;
    newShape.type = e.type;
    google.maps.event.addListener(newShape, 'click', function() {
      setSelection(newShape);
    });
    setSelection(newShape);
    // Get movements of the shape
    google.maps.event.addListener(newShape, 'drag', function(e) {
      drawPolygonCoords(newShape);
    });
    // Get changes on the shape when "shrinking"
    google.maps.event.addListener(newShape.getPath(), 'set_at', function(e) {
      drawPolygonCoords(newShape);
    });
    // and when "growing"
    google.maps.event.addListener(newShape.getPath(), 'insert_at', function(e) {
      drawPolygonCoords(newShape);
    });
  });
  drawingManager.setMap(map);
  google.maps.event.addListener(map, 'click', clearSelection);
}

Array.prototype.containsSubString = function( text ){
    for ( var i = 0; i < this.length; ++i )
    {
        if ( this[i].toString().indexOf( text ) != -1 )
            return i;
    }
    return -1;
}

function getSelectedShapeName(){
  var properties = [i for(i in selectedShape)];
  var index = properties.containsSubString('closure_uid');
  var name = properties[index];
  return name;
}

function saveSelection(){
  var urlCreate = "{% url 'shapes:create' %}";
  var shape = {
    'name': getSelectedShapeName(),
    'vertices': getPolygonCoordsList(selectedShape)
  };
  $.post(urlCreate, shape)
    .success(function(data){
      console.log(data);
      $('#notifications').append(
        '<div id="alert-shape" class="alert alert-info">'+
          '<button type="button" class="close" data-dismiss="alert">&times;</button>'+
          '<strong>'+data+'</strong>'+
        '</div>'
      );
      $("#alert-shape").fadeOut(5000, function(){
        this.remove();
      });
      getSavedAreas();
    })
    .fail(function(data){
      console.log(data);
      $('#notifications').append(
        '<div id="alert-shape" class="alert alert-danger">'+
          '<button type="button" class="close" data-dismiss="alert">&times;</button>'+
          '<strong>'+data.responseText+'</strong>'+
        '</div>'
      );
    });
}
$('#save-button').on('click', saveSelection);

function deleteSelection(){
  deleteSelectedShape();
  clearSelection();
}
$('#delete-button').on('click', deleteSelection);

function getSavedAreas(){
  var urlList = "{% url 'shapes:list' %}";
  $.getJSON(urlList)
    .success(function(data){
      drawSavedAreas(data);
    })
    .fail(function(data){
      console.error("fail!");
    });
}

function drawSavedAreas(object){
  var htmlStr = "";
  $.each(object, function(index, value){
    var id = value.id;
    var date = new Date(value.date_created);
    htmlStr += ''+
      '<li>'+
        '<div class="checkbox">'+
          '<label>'+
            '<input type="checkbox" id="area-'+id+'" value="'+value.id+'" class="checkbox-area"> '+
              date.toLocaleString()+' '+value.name+
            '</label>'+
        '</div>'+
      '</li>'
    $('#latest-areas').on('click', '#area-'+id, function(event){
      renderSavedArea(event, value);
    });
  });
  $('#latest-areas').fadeOut('fast', function(){ $(this).html(htmlStr) }).fadeIn('fast');
}

function renderSavedArea(event, object){
  // Define the LatLng coordinates for the polygon.
  var areaCoords = new Array();
  $.each(object.vertices, function(index, value){
    areaCoords.push({lat: parseFloat(value.lat), lng: parseFloat(value.lon)});
  });

  // Construct the polygon.
  var area = new google.maps.Polygon({
    paths: areaCoords,
    strokeColor: '#FF0000',
    strokeOpacity: 0.8,
    strokeWeight: 3,
    fillColor: '#FF0000',
    fillOpacity: 0.35,
    draggable: true,
    editable: true,
    zIndex: 1,
    geodesic: true
  });
  // area.setMap(map);
  if ( $(event.target).is(':checked') ){
    savedShapes[object.id] = area;
    area.setMap(map);

    google.maps.event.addListener(area, 'click', function() {
      setSelection(area);
    });
    setSelection(area);
    // Get movements of the shape
    google.maps.event.addListener(area, 'drag', function(e) {
      drawPolygonCoords(area);
    });
    // Get changes on the shape when "shrinking"
    google.maps.event.addListener(area.getPath(), 'set_at', function(e) {
      drawPolygonCoords(area);
    });
    // and when "growing"
    google.maps.event.addListener(area.getPath(), 'insert_at', function(e) {
      drawPolygonCoords(area);
    });
  } else {
    area = savedShapes[$(event.target).val()];
    area.setMap(null);
  }
}

$(document).ready(function(){
  getSavedAreas();
});
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCG-m2MOrO0REyi3pZjsuKfcFOfrcTOXEQ&signed_in=true&libraries=drawing&callback=initMap"
         async defer></script>
{% endblock %}
